{% extends 'home/layout.html'%}
{% load static %}

{% block title %}
    Рейтинг
{% endblock %}

{% block competeclass %}
    active
{% endblock %}

{% block content %}
    <div class="content-section">
        <link rel="stylesheet" href="{% static 'home/css/standings.css' %}">
        <div class="table-container">
            <h1>Standings</h1>
            <table class="table">
              <thead>
            <tr>
                <th class="col" scope="col">Position</th>
                <th class="col" scope="col">Username</th>
                <th class="col" scope="col">&nbspRating&nbsp</th>
            </tr>
          </thead>
            <tbody>
                {% for message in messages_list %}
                    <tr>
                    <td class="pos">{{ message.i }}</td>
                    <td class="col-content">{{ message.username }}</td>
                    <td class="col-content">{{ message.rating }}</td>
                    </tr>
            {% endfor %}
            </tbody>
            </table>
            <p>Рейтинг обновляется каждые 20 минут</p>
        </div>
    </div>
{% endblock %}