{% extends 'home/layout.html'%}
{% load static i18n %}

{% block title %}
    {% trans "Рейтинг" %}
{% endblock %}

{% block competeclass %}
    active
{% endblock %}

{% block content %}
    <div class="table-container">
        <link rel="stylesheet" href="{% static 'home/css/standings.css' %}">
        <h1>{% trans "Положение участников" %}</h1>
        <table class="table">
          <thead>
        <tr>
            <th class="col" scope="col">{% trans "Место" %}</th>
            <th class="col" scope="col">{% trans "Никнейм" %}</th>
            <th class="col" scope="col">&nbsp{% trans "Рейтинг" %}&nbsp</th>
        </tr>
      </thead>
        <tbody>
            {% for message in messages_list %}
                <tr>
                <td class="pos">{{ message.i }}</td>
                <td class="col-content">{{ message.username }}</td>
                <td class="col-content">{{ message.rating }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        <p>{% trans "Рейтинг обновляется каждые 20 минут" %}</p>
    </div>
{% endblock %}