{% extends 'home/layout.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Учим слова
{% endblock %}

{% block learnclass %}
    active
{% endblock %}

{% block content %}
    <div class="form-container-repeat">
    <link rel="stylesheet" href="{% static 'home/css/learn-repeat.css' %}">
        <form autocomplete="off" method="POST">
            {% csrf_token %}
            <div class="form-title">
                <div class="form-title-head">
                    <h1>Текущее слово:&nbsp</h1>
                    <h1 class="word">{{ from_ }}</h1>
                </div>
                <div class="form-title-head">
                    <h1>Его перевод:&nbsp</h1>
                    <h1 class="word">{{ to_ }}</h1>
                </div>
                <h1 class="task">Введите его на
                    {% if mode == 0 %}
                        английском:
                    {% else %}
                        русском:
                    {% endif %}
                </h1>
            </div>
            <fieldset class="form-fields">
                {{ form|crispy }}
                {% include "home/messages.html" %}
            </fieldset>
            <div class="form-buttons">
                <button class="button" type="submit">Ответить</button>
            </div>
        </form>
        <form action="{% url "switch" %}">
            <div class="form-buttons">
                <button class="long-button" type="submit">Поменять режим перевода</button>
            </div>
        </form>
    </div>
{% endblock %}