{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
    Необходимо выучить слова!
{% endblock %}

{% block repeatclass %}
    active
{% endblock %}

{% block content %}

    <div class="form-container-repeat">
        <link rel="stylesheet" href="{% static 'home/css/learn-repeat.css' %}">
        <div class="message">
            {% include "home/messages.html" %}
        </div>
        <h2 class="repeat-fail-header">Вам пока нечего повторять,<br>вы либо все помните, либо ничего не знаете.</h2>
        <form class="form-buttons" action="{% url 'learn' %}">
            <button class="button-learn">Начать учить слова</button>
        </form>
    </div>

{% endblock %}