.content-wrapper {
    height: auto;
    width: auto;
    background: #2b003d;
    border-radius: 20px;
    padding: 15px;
    border: 5px solid orangered;
}

.content-wrapper h2 {
    color: #f2f2f2;
    font-size: 25px;
}