{% extends "home/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block loginclass %}
    active
{% endblock loginclass %}

{% block content %}
    <div class="content-section">
        <link rel=stylesheet href="{% static 'home/css/auth.css' %}">
        <div class="form-container-login">
            <form method="POST">
                {% csrf_token %}
                <h1 class="form-title">
                    Авторизация
                </h1>
                <fieldset class="form-fields">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-buttons">
                    <button class="button" type="submit">Войти</button>
                </div>
            </form>
            <form class="form-buttons" action="{% url 'signup' %}">
                <div class="divider">Уже зарегистрированы?</div>
                <button class="button">Зарегистрироваться</button>
            </form>
        </div>
    </div>
{% endblock content %}