{% extends "home/layout.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block loginclass %}
    active
{% endblock loginclass %}

{% block content %}
    <div class="form-container-login">
        <link rel=stylesheet href="{% static 'home/css/auth.css' %}">
        {% include "home/messages.html" %}
        <form method="POST">
            {% csrf_token %}
            <h1 class="form-title">
                {% trans "Авторизация" %}
            </h1>
            <fieldset class="form-fields">
                {{ form|crispy }}
            </fieldset>
            <div class="form-buttons">
                <button class="button" type="submit">{% trans "Войти" %}</button>
            </div>
        </form>
        <form class="form-buttons" action="{% url 'signup' %}">
            <div class="divider">{% trans "Еще не зарегистрированы?" %}</div>
            <button class="button">{% trans "Зарегистрироваться" %}</button>
        </form>
    </div>
{% endblock content %}