{% extends "home/layout.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block signupclass %}
    active
{% endblock signupclass %}

{% block content %}
    <link rel=stylesheet href="{% static 'home/css/auth.css' %}">
    <div class="form-container-signup">

        <form method="POST">
            {% csrf_token %}
            <h1 class="form-title">
                {% trans "Регистрация" %}
            </h1>
            <fieldset class="form-fields">
                {{ form|crispy }}
            </fieldset>
            <div class="form-buttons">
                <button class="button" type="submit">{% trans "Зарегистрироваться" %}</button>
            </div>
        </form>
        <form class="form-buttons" action="{% url 'login' %}">
            <div class="divider">{% trans "Уже зарегистрированы?" %}</div>
            <button class="button">{% trans "Войти" %}</button>
        </form>
    </div>
{% endblock content %}